@media (max-width: 600px){

    /* header section  */

    nav , .nav-menu ul{
        flex-direction: column;
    }
    .first-banner-item-container{
        padding: 2rem 1rem;
    }
    .first-banner-title{
        font-size: 2rem;
    }
    .where-to-form>form{
        flex-direction: column;
        gap: 1rem;
    }

    /* main section starts  */

    .tour-blog-container{
        flex-direction: column;
    }
    .primary-title{
        font-size: 1.5rem;
    }

    /* Destination section  */

    .destination-info-container , .perfect-place-info , .deal-container , .choose-us-container{
        width: 90%;
    }

    .grid-container-first-row , .grid-container-second-row , .grid-container-third-row{
        grid-template-columns: 1fr;
    }
    .grid-item img , .grid-item{
        height: 11rem;
    }
    .country{
        font-size: 1.2rem;
    }

    /* Choose us section  */

    .choose-box-one{
        flex-direction: column;
    }
    .choose-banner{
        width: 80%;
    }

    /* perfect place section  */

    .perfect-place-section{
        flex-direction: column;
    }
    iframe{
        width: 95%;
        height: auto;
    }
}