@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Mulish', sans-serif;
}

/* Color themes  */

:root{
    --primary-color: #f84d4d;
    --secondary-color: #FFF;
    --title-black: #131318;
    --info-grey: #5A5A5D;
}

/* Shared things  */

.primary-btn{
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 16px 34px;
    border: none;
}

/* <!-- Header section starts here  --> */
header{
    max-width: 1440px;
    width: 80%;
    margin: 60px auto;
}

/* Navigation section  */
nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title-black);
} 

.nav-logo-box img{
    width: 40%;
}
.nav-title{
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
    font-weight: 800;
}
.primary-span{
    color: var(--primary-color);
}
.nav-menu{
    font-size: 1rem;
}
.nav-menu ul{
    display: flex;
    gap: 2.8rem;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    color: #424247;
    text-decoration: none;
}
#home{
    color: var(--primary-color);
}

/* First banner  */

.first-banner{
    margin-top: 3.8rem;
    background-image: url(./Images/banner1.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover; 
    background-position: center;
}
.first-banner-item-container{
    border-radius: 16px;
    color: var(--secondary-color);
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 100px 185px;
    background-size: cover; 
    background-position: center;
}
.first-banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.first-banner-info{
    font-size: 1rem;
    margin: 24px auto 64px;
}

.where-to-form>form{
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-around;
}
.where-to-form input, #dropdown{
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    border: none;
}

/* <!-- Header section ends here  --> */


/* <!-- Main section starts here  --> */
/* <!-- Main section ends here  --> */


/* <!-- Footer section starts here  --> */
/* <!-- Footer section ends here  --> */