@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Mulish', sans-serif;
}

/* Color themes  */

:root{
    --primary-color: #f84d4d;
    --secondary-color: #FFF;
    --title-black: #131318;
    --info-grey: #5A5A5D;
}

/* Shared things  */

.primary-btn{
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1rem;
    padding: 16px 34px;
    border: none;
}
.primary-title{
    color: var(--title-black);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.primary-info{
    color: var(--info-grey);
    font-size: 1rem;
    margin: 1.8rem 0rem;
    text-align: center;
}

/* <!-- Header section starts here  --> */
header , main{
    max-width: 1440px;
    width: 80%;
    margin: 60px auto;
}

/* Navigation section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--title-black);
} 
.nav-menu{
    display: flex;
    justify-content: flex-end;
}

.nav-logo-box img{
    width: 30%;
}
.fa-bars{
    display: none;
}
.nav-title{
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
    font-weight: 800;
}
.primary-span{
    color: var(--primary-color);
}
.nav-menu{
    font-size: 1rem;
}
.nav-menu ul{
    display: flex;
    gap: 2.8rem;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    color: #424247;
    text-decoration: none;
}
#home{
    color: var(--primary-color);
}

/* First banner  */

.first-banner{
    margin-top: 3.8rem;
    background-image: url(./Images/banner1.png);
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover; 
    background-position: center;
}
.first-banner-item-container{
    border-radius: 16px;
    color: var(--secondary-color);
    text-align: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding: 100px 185px;
    background-size: cover; 
    background-position: center;
}
.first-banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.first-banner-info{
    font-size: 1rem;
    margin: 24px auto 64px;
}

.where-to-form>form{
    padding: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-around;
}
.where-to-form input, #dropdown{
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--secondary-color);
    border: none;
}
/* <!-- Header section ends here  --> */


/* <!-- Main section starts here  --> */

/* Tour blog section  */
.tour-blog-container{
    display: flex;
    gap: 3rem;
}
#blog-title , #blog-info{
    text-align: left;
}
.tour-blog ul li{
    color: var(--info-grey);
}

/* Destination section  */
.destination{
    margin: 6rem 0rem;
}
.destination-info-container , .choose-us-container , .deal-details{
    width: 45%;
    margin: 0 auto;
}

.grid-item {
    position: relative;
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), lightgray 50% / cover no-repeat;
    border-radius: 16px;
}
.grid-container-first-row {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
}

.grid-container-second-row {
    display: grid;
    grid-template-columns: 25% 48% 25%;
    gap: 1.5rem; 
    margin-top: 1.5rem; 
    grid-template-rows: auto;
}

.grid-container-third-row {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1.5rem; 
    margin-top: 1.5rem;
    grid-template-rows: auto;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.country {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    top: 40%;
    left: 40%;
    color: var(--secondary-color);
}

/* <!-- Choose us section  --> */

.choose-box-one{
    display: flex;
    gap: 1.3rem;

}
.choose-banner{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #eb4d4d8e;
    background: #e17f7f3f;
    padding: 2rem 3.5rem 2rem 2rem;
}
#blue-banner{
    border: 1px solid rgba(41, 205, 246, 0.526);
    background: rgba(56, 206, 244, 0.301);
}
.choose-title{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--title-black);
}
.choose-box-two{
    margin: 1.3rem auto 6.2rem;
}
#centered-banner{
    margin: 0 auto;
}

/* <!-- deals-section  --> */
.deal-section{
    text-align: center;
}

.deal-banner{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border-radius: 16px;
    margin-bottom: 1.3rem;
    text-align: left;
}
.deal-icon-box{
    display: flex;
    gap: 1.3rem;
    margin-bottom: 1.3rem;
}
.icon-box-two{
    display: flex;
    gap: 1.3rem;
}
.icon-info{
    font-size: 1rem;
    color: var(--info-grey);
}
.icon-info > i{
    color: var(--primary-color);
}
.deals{
    width: 50%;
    padding: 3rem 4.3rem;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(1px);
}
.deal-price{
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-bottom: 1.3rem;
    font-weight: 800;
}
#deal-one{
    background-image: url(./Images/vacation.png);
    padding: 3rem 0rem 3rem 34rem;
}
#deal-two{
    background-image: url(./Images/vacation2.png);
    padding: 3rem 30rem 3rem 3rem ;
}
#deal-three{
    background-image: url(./Images/vacation.png);
    padding: 3rem 0rem 3rem 34rem;
}

/* Perfect place section  */

.perfect-place-section{
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    margin: 6rem 0px;
}
.perfect-place-info{
    width: 33%;
}

.perfect-place-info li{
    margin-bottom: 1rem;
}
iframe{
    border-radius: 16px;
    border: 3px solid var(--primary-color);
}

/* Newsletter section  */
.newsletter{
    display: flex;
    gap: 1.3rem;
}
.newsletter-form{
    padding: 40px;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
}
.newsletter-form > form > input{
    padding: 1.3rem;
    border-radius: 8px;
    background-color: rgba(19, 19, 24, 0.05);
    border: none;
    width: 90%;
    margin: 0.5rem auto;
}
#subscribe-btn{
    margin-top: 0.5rem;
    padding: 1.3rem;
    width: 100%;
}
.scenery{
    position: relative;
}

.discount{
    border-radius: 16px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 2.3rem;
    position: absolute;
    left: 400px;
    bottom: 60px;
    transform: rotate(-30deg);
}
.discount-text{
    font-size: 1.5rem;
    font-weight: 800;
}
.web-link{
    font-size: 1.2rem;
    font-weight: 400;
}



/* <!-- Main section ends here  --> */


/* <!-- Footer section starts here  --> */

footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 6.25rem;
}

.foot-box{
    width: 45%;
    margin: 0px auto;
}
.foot-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
}
.fa-facebook{
    color: blue;
}
.fa-instagram{
    color: coral;
}
.fa-github{
    color: #171515;
}


.foot-box img{
    width: 30%;
}

.line{
    height: 1px;
    border: none;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 0.5rem;
}
/* <!-- Footer section ends here  --> */